9.1. Phòng làm việc của trưởng phòng Yoon có 10 bạn nam. Yoon muốn tính chiều cao trung
bình của các số đo chiều cao khác nhau của các bạn trong phòng của mình. Bạn hãy viết chương
trình giúp Yoon xác định chiều cao trung bình này biết số đo của 10 bạn được nhập từ bàn phím
trên 1 dòng.

In [1]:
import statistics as stat
n = input()
a = set([float(i) for i in n.strip().split()])
print(round(stat.mean(a),2))

3
3.0

9.2. Mỗi tháng, giám đốc Yoon đi công tác qua 3-10 quốc gia, có những quốc gia Yoon bay
qua bay lại nhiều lần. Anh ấy muốn đếm tổng số các quốc gia khác nhau mà anh ấy đã đi qua
thông qua thông qua thông tin trên hộ chiếu. Áp dụng hàm set.add() để giúp Yoon thống kê số
quốc gia mà anh ấy đã đi qua.

In [ ]:
n = input()
a = set([i for i in n.strip().split()])
print(len(a))

China Vietnam China Laos Vietnam Campuchia Vietnam Vietnam
4

9.3. Cho một dãy số gồm các số tự nhiên và một dòng các lệnh remove cần được thực thi. Hãy
đưa dãy số tự nhiên này vào một set s, thực thi các lệnh remove ở dòng lệnh remove và in ra tổng các
phần tử còn lại trong set s. Nếu giá trị cần remove không có trong set s, bỏ qua giá trị ấy.

In [ ]:
s = set([int(i) for i in input().strip().split()])
c = [i for i in input().strip().split()]
numbers_remove = [c[i] for i in range(len(c))if i % 2 !=0]
numbers_remove = set([int(num) for num in numbers_remove])
for num in numbers_remove:
  if num in s:
    s.remove(num)
print(sum(s))
#print(s)

10 7 8 9 12 13 15 14
remove 10 remove 7 remove 16 remove 8 remove 12
51